.dashboardContainer {
  padding: 40px;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.dashboardContainer > h2 {
    text-align:left;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: var(--color-dark);
  font-weight: 700;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 30px 40px;
  width: 70%;              /* alargada hacia la derecha */
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.cardTitle {
  font-size: 1.4rem;
  color: var(--color-dark);
  margin-bottom: 10px;
}

.cardText {
  color: var(--color-dark);
  margin-bottom: 20px;
}

.cardButton {
  background-color: var(--color-secondary);
  color: var(--color-light);
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.cardButton:hover {
  background-color: #1b5e20;
}
